
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  zoom: 1; /* ie 6/7 */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}




/** colors

	red  =  #b50000
	other red    = #cc0000

	hover red  =  #990000

	gray font  =  #727578

	light gray background  =  #cccccc
**/



body {
	font-family: "Helvetica Neue";
	margin: 0;
}

h1 {
	font-size: 1.9em;
}

h2{
	font-size: 1.3em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

a {
	text-decoration: none;
	color: #b50000;
	font-size: 0.6em;
}



/** mobile site **/

.top_nav{
	display: none;
}
/*
.dropdown .sub_menu{
	display: none;
}*/

.shop_categories_mobile {
	display: none;
}


.lev_2_nav {
	display: none;
}


.main_header_logo {
	display: none;
}

.header_nav{
	display: none;
}

.main_header {
	position: relative;
}

.across_page_header {
	border-bottom: 1px solid #727578;
}

.mobile_logo {
	display: block;
	width: 8%;
	margin: 0 auto;
}

.mobile_logo img{
	width: 100%;
	margin: 0 auto;
	display: block;
}



.shopping_cart_icon {
	width: 6%;
	display: block;
	float: right;
	margin: 0 5%;
}

.shopping_cart_icon img {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.man_profile_icon {
	display: block;
	width: 6%;
	float: left;
	margin-left: 5%;

}

.man_profile_icon img {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.mobile_search {
	width: 90%;
	margin-left: 5%;
	padding: 3%;
	float: left;
	margin-top: 10px;
	background: #f8f8f8;
	border-radius: 5px;
}

.submit_button_mobile {
	float: left;
	width: 90%;
	margin-top: 15px;	
	background: #b50000;
	color: white;
	margin: 5px 5%;
	border-radius: 5px;
	font-weight: normal;
	padding: 5%;
	font-size: 1.4em;

}

.main_nav_container {
	
	position: relative;
}

.top_nav {
	padding: 0;
	margin: 0;
	background: #454545;
	width: 50%;
	margin-left: 5%;
}

.top_nav li{
	color: white;
	list-style: none;
}
.top_nav a{
	color: white;
}

.lev_2_nav{
	padding: 0;
	margin:0;
}

.shop_all{
	color: white;
	font-size: 1.4em;
	background: #b50000;
	padding: 5%;
	width: 90%;
	margin: 20px 0 20px 5%;
	display: block;
	border-radius: 5px;
}

.menu_button {
	display: none;
	width: 8%;
	float: left;
	margin-left: 5%;
	margin-right: 3%;
	margin-bottom: 3%;

}

.menu_button img{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.wide_menu_button {
	display: none;
	width: 30%;
}

.search_icon {
	display: none;
	width: 6%;
	float: left;
	margin-left: 5%;
}

.search_icon img{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.header_nav_mobile li {
	display: inline-block;
	list-style: none;
	background: #b50000;
	border-radius: 5px;
	padding: 3%;
	width: 43%;
	margin: 5px 1% 5px 1%;
	text-align: center;
}	

.header_nav_mobile a{
	font-size: 1em;
	color: white;
}
.header_nav_mobile .last {
	margin-left: 22%;
}


.header_bar{
	border-bottom: 1px solid #727578;
}

.search_bar {
	display: none;
}

.in_your_cart {
	display:none;
}


.free_shipping_header_2{
	
}

.free_shipping_header_2{
	text-decoration: none;
	text-align: center;
	font-size: 0.8em;
	color: #727578;
}

.free_shipping_header_2 span{
	color: #b50000;
}

.header_categories h3 {
	display: none;
}

.side_bar_nav {
	display: none;
}


.category_title h6, .category_title h1 {
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
}

.category_title h6 {
	padding-top: 10px;
}

.category_title h1 {
	margin-top: 0;
	border-bottom: 1px solid #727578;
}

.category_title h6, .category_title h1, .top_rated h2, .featured_items_mobile h2, .featured_items h2, .shop_categories h2{
	margin-left: 5%;
	width: 90%;
}

.shop_categories{
	margin-left: 5%;
}

.shop_categories .shop_category {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.shop_categories .shop_category img{
	width: 65%;
}

.shop_category a{
	text-decoration: none;
	display: block;
	width: 90%;
	background: #b50000;
	color: white;
	border-radius: 5px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px auto;
	font-size: 1em;
}

.shop_category {
	position: relative;
}
.cat_links {
	display: none;
	position: absolute;
	bottom:12px;
	right:7%;
	left:0;
	padding: 0;
	margin: 0;
}


.cat_links li {
	list-style: none;
	display: block;
}

.cat_links > li > a{
	display: block;
	width: 100%;
	color: #b50000;
}

.shop_category:hover img{
	opacity: 0.2;

}


.shop_category:hover .cat_links {
	display: block;
}

.shop_category a{
	background: none;
	color: black;
	border-radius: none;
	padding:0;
	margin:0;
}

.top_rated h2{
	margin-top: 40px;
	border-top: 1px solid #727578;	
}

.featured_items {
	display: none;
}

.discounted {
	display: none;
}

.watch {
	width: 48%;
	margin: 0 auto;
	background: white;
	padding:5%;
	border-radius: 5px;
	margin-top: 35px;
}


.watch img{
	display: block;
	width: 75%;
	margin: 0 auto;
}


.watch h4{
	margin-bottom: 10px;
	padding-bottom: 0;
}


.watch p{
	margin-bottom: 10px;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}


.watch h6 {
	margin-bottom: 10px;
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
}


.ships p{
	color: #b50000;
	margin-top: 0;
	padding-top: 0;
}


.featured_items_mobile h2, .featured_items h2, .discounted h2, .discounted_mobile h2{
	margin-top: 60px;
	margin-left: 5%;
	border-top: 1px solid #727578;
}

.kid_bikes_image img{
	height: 155px;
}


.kid_bike_wrapper {
	background: white;
	margin: 0 10% 0 10%;
	border-radius: 5px;
	margin-top: 35px;
	padding: 5%;
}


.kid_bikes_image {
	display: block;
	width: 46%;
}

.kid_bikes_image img{
	display: block;
	width: 100%;

}

.kid_bikes {
	float: right;
	width:50%;
}

.kid_bikes h4, .kid_bikes a, .fathers_day_words h4, .fathers_day_words a{
	margin-bottom: 0;
	margin-top: 0;
	display: block;
}

.kid_bikes p, .fathers_day_words p{
	margin-bottom: 0;
	margin-top: 0;
	font-size: 0.8em;
}

.kid_bikes h4{
	font-size: 1.7em;
}

.kid_bikes a, .fathers_day_words a{
	margin-top: 10px;
	font-size: 1em;
}

.pool_image {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.pool_image img{
	display: block;
	width: 100%;
	/*box-shadow: 1px 1px 5px #727578; */
}

.fathers_day {
	background: white;
	margin: 0 10% 0 10%;
	border-radius: 5px;
	margin-top: 35px;
	padding: 5%;	
}
	
.fathers_day_words{
	float: left;
	width: 50%;
}

 .fathers_day_words h4{
 	font-size: 1.7em;
 }

.fathers_day_image{
	display: block;
	width: 50%;
	float: right;
}

.fathers_day_image img{
	display: block;
	width: 100%;
}

.pre_footer_p1, .pre_footer_p2 {
	font-size: 0.5em;
	width: 95%;
	margin: 0 auto;
}

.pre_footer_p1 {
	margin-top: 60px;
	border-top: 1px solid #727578;
	margin-bottom: 10px;
	padding-top: 10px;
}

.pre_footer_p2 {
	padding-bottom: 20px;
	border-bottom: 1px solid #727578;
}

.site_footer {
	background: white;
	padding-bottom: 50px;
}

.footer_nav {
	float: right;
	width: 80%;
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 50px;
	margin-left: 10%;
}

.footer_nav ul{
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;

}

.footer_nav li{
	list-style: none;
	display: inline-block;
	width: 19%;
}

.click{
	margin-right: 4%;
	color: black;
}



.footer_logo {
	display: block;
	width: 7%;
	float: left;
	margin-left: 2%;
	margin-top: 2%;
}

.footer_logo img{
	width: 100%;
	margin: 0 auto;
	display: block;
}

.viewed_items{
	display: none;
}

.secondary_footer_nav ul{
	display: inline-block;
	float: right;
	text-align: right;
	padding-right: 5%;
	margin-bottom: 0;
	padding-bottom: 0;
	border-top: 1px solid #727578;
	width: 100%;
	margin-top: 50px;
}

.secondary_footer_nav li{
	list-style: none;
	display: inline-block;
	padding-left: 1%;
}
.secondary_footer_nav a{
	color: black;
}

.secondary_footer_nav_p{
	font-size: 0.5em;
	float: right;
	text-align: right;
	margin-right: 4%;
	
}

.third_footer_nav {
	display: none;
}


















@media screen and (min-width: 680px) {



	h1 {
		font-size: 2em;
	}


	h2{
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.1em;
	}


	a {
		text-decoration: none;
		color: #b50000;
		font-size: 0.6em;
	}



	.category_title h1{
		margin-bottom: 20px;
	}

	.shop_categories h2{
		margin-bottom: 10px;
	}

	.shop_categories a{
		width: 40%;
		float: left;
		margin: 10px 5% 10px 5%;
	}

	.watch img {
		
	}

	.kid_bikes_image img{
		
	}

	.top_rated{
		clear: both;
	}

	.pool_image img{
		
	}

	.fathers_day_image img{
		
	}

	.pre_footer_p1, .pre_footer_p2 {
		font-size: 0.6em;
	}

}






@media screen and (min-width: 875px) {

	.pool_image img {
		float: left;
		width: 44%;
		margin: 16px 2% 0 5%;
		padding: 0;
	}

	.fathers_day {
		float: left;
		width: 43%;
		margin: 0;
		margin-top: 17px;
	}

	.fathers_day_image img{

	}












}






















@media screen and (min-width: 1024px) {


	h1 {
		font-size: 2.2em;
	}


	h2{
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-size: 1.6em;
	}


	a {
		text-decoration: none;
		color: #b50000;
		font-size: 0.6em;
	}

.shop_categories_mobile{
	display: none;
}

.search{
	display: none;
}
.submit_button_mobile {
	display: none;
}
.mobile_search {
	display: none;
}

.mobile_logo, .shopping_cart_icon, .man_profile_icon, .search_icon, .menu_button {
	display: none;
}

.main_wrapper {
	background: none;
}

.across_page_header{
	background: #b50000;
	width: 100%;
	height: 100px;
}


.main_header_logo {
	display: inline-block;
	width: 5%;
	float: left;
}

.main_header_logo img{
	display: block;
	width: 100%;
}

.header_wrapper {
	width: 75%;
	margin: 0 auto;
	padding-top: 10px;
	margin-left: 19%;
}

.header_nav_mobile {
	display: none;
}

.header_nav {
	float: left;
	width: 90%;
	display: inline-block;
	margin-left: 5%;
	height: 60px;
	padding-top: 15px;
}

.header_nav ul{
	height: 46px;
	padding: 0;
	margin: 0;
}

.header_nav li{
	display: inline-block;
	margin-right: 2%;
	vertical-align: top;
	padding: 0;
	margin: 0;
	padding-right: 1%;
}


.header_nav a{
	display: block;
	color: white;
	list-style: none;
	text-decoration: none;
	font-size: 0.8em;
	
}

.header_nav .arrow{
	background-image: url(../img/arrow_down_03.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 1%;

}

.arrow1 {
	background-image: url(../img/images/arrow_down_03.png);
	background-repeat: no-repeat;
	background-position:80% center;
}


.header_bar {
	background: #cc0000;
	margin: 0 auto;
	width: 75%;
	height: 50px;
	margin-top: -35px;
	border-radius: 5px;
	border-top: 1px solid #f44a2a;
}

.header_nav .flower{
	background-image: url( ../img/Target_flower.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left top;
	padding-left: 5%;

}
.shop_all{
	font-size: 1em;
	font-weight: bold;
	color: white;
	margin: 0;
	float: left;
	background: none;
}

.main_nav_container {
	width: 21%;
	float: left;
	height: 48px;
	background-image: url( ../img/menu52.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5% center;
	padding-left: 3%; 
	position: relative;
}

.main_nav_container:hover {
	background: #990000;
	border-radius: 5px;
	background-image: url( ../img/menu52.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 5% center;
	padding-left: 3%;
	
}

.top_nav {
	background: #454545;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 0 0 5px 5px;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1000;
	box-shadow: 5px 5px 3px #cccccc;

}

.top_nav > li:hover {
	background: #333333;

}

.top_nav li{
	list-style: none;
	margin: 0;
}

.top_nav > li {
	border-top: 1px solid #6e6e6e;
	border-bottom: 1px solid #2a2a2a;
	padding: 5%;
}

.top_nav a{
	color: white;
	font-size: 0.8em;
}

.lev_2_nav {
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	width: 377%;
	background: white;
	border: 1px solid #cccccc;
	border-radius: 0 5px 5px 0;
	padding: 5%;
	padding-left: 20%;
	height: 529px;
	z-index: 1000;
	box-shadow: 5px 5px 3px #cccccc;

}

.lev_2_nav.active {
	display: block;
}

.lev_2_nav ul{
	padding:0;
	margin:0;
}

.lev_2_nav .lev_2_col{
	width: 24%;
	display: inline-block;
	vertical-align: top;
}

.lev_2_col {
	margin-bottom: 15px;
}

.lev_2_col > ul > li > a{
	font-size: 1em;
	font-weight: bold;
	line-height: 3;
	color: #333333;

}

.lev_2_nav a{
	color: black;
}

.lev_2_nav a:hover{
	text-decoration: underline;
}


.header_menu_button {
	display: block;
	width: 11%;
	float: left;
	margin: 15px 1% 0 1%;
}

.header_menu_button img {
	width: 100%;
	margin: 0 auto;
	display: block;
}

.header_categories {
	border-top: 1px solid #f24b33;
	border-radius: 5%
}

.search_bar {
	display: block;
	float: left;
}
 
fieldset {
	border: none;
}


.free_shipping_header {
	display: none;
}

.free_shipping_header_2{
	text-decoration: none;
	text-align: center;
	font-size: 0.8em;
	color: #727578;
	display: block;
}

.free_shipping_header_2 span{
	color: #b50000;
}

.header_categories h3 {
	display: block;
	color: white;
	float: left;
	margin: 12px 2% 0 2%;
	font-size: 1.1em;
}

select {
	width: 8%;
	margin-right: 0;
	padding: 0.5em;
	-webkit-appearance: none;
	border-radius: none;
}

select option {
	background: white;
	border: 1px solid #f24b33;
}

.form{
	border: 1px solid white;
	overflow: hidden;
	border-radius: 5px;
}

.search_bar {
	width: 58%;
	margin-top: 7px;
}

.text_area{
	width: 84%;
	margin-left: 0;
	padding: 1%;
}

.submit_button{
	display: block;
	width: 4%;
	float: right;
	margin-right: 2%;
	margin-top: 4px;

}

.submit_button img{
	display: block;
	width: 100%;
}

.in_your_cart {
	display: block;
	position: relative;
	z-index: 10000;
	color: white;
	font-size: 1em;
	font-weight: bold;
	float: right;
	width: 20%;
	padding-left: 4%;
	height: 48px;
}


.in_your_cart:hover {
	background: #990000;
	border-radius: 5px;
}

.in_your_cart:hover .hidden_cart{
	display: block;
}

.hidden_cart{
	display: none;
	color: black;
	background: white;
	border: 1px solid #cccccc;
	border-radius: 0 0 5px 5px;
	position: absolute;
	width: 140%;
	top: 100%;
	right: 0;
	text-align: center;
	overflow: hidden;
	box-shadow: 5px 5px 3px #cccccc;
}

.hidden_cart a:last-child {
	background: #c60000;
	color: white;
	font-size: 1em;
	padding: 3%;
	display: block;
	margin-top: 10px;
}

.side_bar_nav {
	display: block;
	float: left;
	margin-left: 5%;
	margin-top: 80px;
	border-right: 1px solid #727578;
	margin-right: 3%;
	padding-right: 2%;
}

.side_bar_nav a{
	font-size: 1.3em;
	color: black;
	font-weight: bold;
	line-height: 1.6;
}
.side_bar_nav a:hover {
	text-decoration: underline;
}

.side_bar_ul {
	padding: 0;
	margin: 0;
}

.side_bar_ul > li > a {
	font-size: 1.7em
}
.side_bar_nav > nav > ul > li {                                                                                         
	font-size: 1.3em;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #727578;
	list-style: none;
	font-size: 0.6em;
}

.side_bar_nav nav > ul > li:first-child {
	border-top: none;
	padding-top: 0;
	margin-top: 20px;

}

.side_bar_sub_nav {
	list-style: none;
	padding:0;
	margin: 0;
	margin-top: 10px;
}

.category_title h1 {
	border-bottom: none;
}

.category_title h6 {
	padding-top: 0;
}

.shop_categories {
	display: block;
	float: left;
	margin: 0;
	width: 46%;
	border-right: 1px solid #727578;
	/*border-bottom: 1px solid #727578;*/
	margin-bottom: 50px;
	padding-bottom: 97px;
}

.shop_categories img{
	display: block;
	width: 57%;
}

.shop_category h3 {
	font-size: 1.3em;
	width: 65%;
}

.shop_category {
	width: 32%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	text-align: center;
	margin-top: 20px;
	height: 265px;
}

.cat_links {
	display: none;
	position: absolute;
	bottom:12px;
	right:39%;
	left:0;
	padding: 0;
	margin: 0;
}


.cat_links li {
	list-style: none;
	display: block;
}

.cat_links > li > a{
	display: block;
	width: 100%;
	padding: 2%;
	color: #b50000;
}

.cat_links > li > a:hover{
	text-decoration: underline;
}

.shop_category:hover img{
	opacity: 0.2;

}

.shop_category:hover .cat_links {
	display: block;
}

.shop_category a{
	background: none;
	color: black;
	border-radius: none;
	padding:0;
	margin:0;
}

.featured_items_mobile{
	display: none;
}

.featured_items {
	float: left;
	width: 26%;
	margin-top: 40px;
	display: block;
}

.featured_items h2 {
	border: none;
	margin-top: 0;
}

.kid_bikes_image {
	float: none;
	margin: 0;
	width: 100%;
}

.kid_bikes {
	float: none;
	margin: 0;
	width: 100%;
	margin-top: 30px;
}

#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.top_rated {
	width: 70%;
	margin: 0 auto;
}

.top_rated h2 {
	border: none;
	margin-left: 7%
}

.discounted {
	display: block;
	float: left;
	width:26%;
}

.discounted h2{
	margin-top: 30px;
	padding-top: 20px;
}

.pool_image{
	width: 96%;
}

.pool_image img {
	float: left;
	display: block;
	width: 100%;
}

.fathers_day {
	float: none;
	width: 95%;
	padding: 0;
}

.fathers_day_words {
	float: none;
	width: 100%;
	margin-left: 5%;
	margin-top: 35px;
}

.fathers_day_image {
	float: none;
	width: 100%;
	margin-top: 30px;
	margin-left: 10%;
}

.fathers_day_image img {
	display: block;
	width: ;
}

.discounted_mobile {
	display: none;
}

.viewed_items{
	float: left;
	display: block;
	width: 15%;
	text-align: center;
	border-right: 1px solid #727578;
	margin-left: 3%;
	padding: 3%;
}

.viewed_items p{
	font-size: 0.8em;
}

.footer_nav {
	float: left;
	width: 58%;
}

.footer_nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

.footer_nav > ul > li {
	font-size: 0.8em;
	width: 13%;
}

.footer_nav li {
	display: block;
}

.sub_menu a{
	line-height: 1;
	color: black;
	display: block;
}

.li1, .li2, .li3 .li4, .li5 {
	float:left;
}

.dropdown .sub_menu {
	display: block;
}

.sub_menu  {
	margin-left: 0;
	font-weight: normal;
}

.li1, .li2, .li3, .li4, .li5 {
	float: left;
	width: 15%;
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	color: black;
}

.third_footer_nav {
	display: inline-block;
	margin-left: 43%;
}

.third_footer_nav li{
	list-style: none;
	display: inline-block;
	padding-right: 0;
}

.third_footer_nav a {
	font-size: 0.7em;
	color: black;
}
.third_footer_nav a:hover{
	text-decoration: underline;
}

.third_footer_nav ul{
	text-align: right;
	float: left;
	padding:0;
	margin:0;
	margin-right: 6%;
}

.third_footer_nav p{
	float: right;
	font-size: 0.7em;
	margin-right: 6%;
}

.footer_wrapper {
	width: 80%; 
	margin:0 auto;
}

.pre-footer_p1, .pre_footer_p2{
	font-size: 0.8em;
}

.secondary_footer_nav ul {
	padding-right: 4%;
	float: right;
	text-align: right;
}

.secondary_footer_nav a {
	color: black;
}

.secondary_footer_nav a:hover{
	text-decoration: underline;
}

/*.secondary_footer_nav_p {
	padding-left: 44%;
}*/







}

